
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
      /* margin: 20px; */
      padding: 15px;
      background-color: dimgrey;
      /* border: 2px solid red; */
      
}

.img1 {
    background-image: url(main.jpg);
     min-height: 100vh;
    

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
   
.img2{
    background-image: url(colour.jpg);
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img3{
    background-image: url(bnw.jpg);
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img4{
    background-image: url(wildlife.jpg);
    min-height: 800px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;

}
 .textbg{
    background-color: #666;
    padding: 20px;
    border-radius: 10px;
    color: white;
 }

 .about{
    padding: 50px 80px;
    text-align: center;
    color: #666;
    
}
 .section-light{
      background-color: white;
 }
 .section-dark{
    background-color: #666;
    color: white;
 }

 footer{

    text-align: center;
    
 }